@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    font-family: Quicksand;
}


#nav {
    background-color: 
        #67bb99;
        text-align: center;
        color: #ffffff
        padding:10px;
}

#header {
    
}

#what {
    
}

#sponsor_logos {
    
}

#why {
    
}

#where {
    
}

#when {
    
}

#who {
    
}